body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
}
#container{
    width: 70%;
    padding: lem;
    text-align: left;
    border: 1px solid #ddd;
    margin : 0 auto;
}

#container h1{
    font-size: 20px;
}