body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
#container{
    width: 70%;
    padding: lem;
    text-align: left;
    border: 1px solid #ddd;
    margin : 0 auto;
}

#cabecera{
    background: #37488b;
    box-shadow: 0px 4px 25px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}


#cabecera #logo
{
    width: 40px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1{
    font-size: 20px;
}